@keyframes hovering {
  0% {
    color: $text_color;
  }

  50% {
    color: $secondary_color;
  }

  100% {
    color: $text_color;
  }
}

@keyframes writing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes indicator {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
  100% {
    border-color: transparent;
  }
}

@keyframes open {
  0% {
    left: -500px;
  }
  100% {
    left: 0;
  }
}
